@font-face {
    font-family: 'Anonymous Pro';
    src: url('src/anonymous-pro/AnonymousPro-Italic.woff2') format('woff2'),
        url('src/anonymous-pro/AnonymousPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('src/anonymous-pro/AnonymousPro-Bold.woff2') format('woff2'),
        url('src/anonymous-pro/AnonymousPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('src/anonymous-pro/AnonymousPro.woff2') format('woff2'),
        url('src/anonymous-pro/AnonymousPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('src/anonymous-pro/AnonymousPro-BoldItalic.woff2') format('woff2'),
        url('src/anonymous-pro/AnonymousPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}