@font-face {
    font-family: 'Cascadia Code';
    src: url('src/cascadia-code/CascadiaCode-Regular.woff2') format('woff2'),
        url('src/cascadia-code/CascadiaCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}