@font-face {
    font-family: 'Hack';
    src: url('src/hack/Hack-Italic.woff2') format('woff2'),
        url('src/hack/Hack-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hack';
    src: url('src/hack/Hack-BoldItalic.woff2') format('woff2'),
        url('src/hack/Hack-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hack';
    src: url('src/hack/Hack-Regular.woff2') format('woff2'),
        url('src/hack/Hack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hack';
    src: url('src/hack/Hack-Bold.woff2') format('woff2'),
        url('src/hack/Hack-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

