@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-Medium.woff2') format('woff2'),
        url('src/lato/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-Bold.woff2') format('woff2'),
        url('src/lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-MediumItalic.woff2') format('woff2'),
        url('src/lato/Lato-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-Light.woff2') format('woff2'),
        url('src/lato/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-Heavy.woff2') format('woff2'),
        url('src/lato/Lato-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-BoldItalic.woff2') format('woff2'),
        url('src/lato/Lato-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-Thin.woff2') format('woff2'),
        url('src/lato/Lato-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-ThinItalic.woff2') format('woff2'),
        url('src/lato/Lato-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-Regular.woff2') format('woff2'),
        url('src/lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-Black.woff2') format('woff2'),
        url('src/lato/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-HeavyItalic.woff2') format('woff2'),
        url('src/lato/Lato-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-SemiboldItalic.woff2') format('woff2'),
        url('src/lato/Lato-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-Italic.woff2') format('woff2'),
        url('src/lato/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-LightItalic.woff2') format('woff2'),
        url('src/lato/Lato-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-BlackItalic.woff2') format('woff2'),
        url('src/lato/Lato-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('src/lato/Lato-Semibold.woff2') format('woff2'),
        url('src/lato/Lato-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

