@font-face {
    font-family: 'Merriweather';
    src: url('src/merriweather/merriweather-blackitalic.woff2') format('woff2'),
        url('src/merriweather/merriweather-blackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('src/merriweather/merriweather-italic.woff2') format('woff2'),
        url('src/merriweather/merriweather-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('src/merriweather/merriweather-lightitalic.woff2') format('woff2'),
        url('src/merriweather/merriweather-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('src/merriweather/merriweather-light.woff2') format('woff2'),
        url('src/merriweather/merriweather-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('src/merriweather/merriweather-black.woff2') format('woff2'),
        url('src/merriweather/merriweather-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('src/merriweather/merriweather-bold.woff2') format('woff2'),
        url('src/merriweather/merriweather-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('src/merriweather/merriweather-regular.woff2') format('woff2'),
        url('src/merriweather/merriweather-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('src/merriweather/merriweather-bolditalic.woff2') format('woff2'),
        url('src/merriweather/merriweather-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
