@font-face {
    font-family: 'mononoki';
    src: url('src/mononoki/mononoki-Regular.woff2') format('woff2'),
        url('src/mononoki/mononoki-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('src/mononoki/mononoki-Italic.woff2') format('woff2'),
        url('src/mononoki/mononoki-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'mononoki';
    src: url('src/mononoki/mononoki-BoldItalic.woff2') format('woff2'),
        url('src/mononoki/mononoki-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'mononoki';
    src: url('src/mononoki/mononoki-Bold.woff2') format('woff2'),
        url('src/mononoki/mononoki-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

