@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-Thin.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-ThinItalic.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-ExtraLight.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-ExtraLightItalic.woff2')
            format('woff2'),
        url('src/prodigy-sans/ProdigySans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-Light.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-LightItalic.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
font-display: swap;

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-Regular.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-Italic.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-Medium.woff2') format('woff2'),
        url('ProdigySans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-MediumItalic.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-SemiBold.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-SemiBoldItalic.woff2')
            format('woff2'),
        url('src/prodigy-sans/ProdigySans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-Bold.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-BoldItalic.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-ExtraBold.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-ExtraBoldItalic.woff2')
            format('woff2'),
        url('src/prodigy-sans/ProdigySans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-Black.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url('src/prodigy-sans/ProdigySans-BlackItalic.woff2') format('woff2'),
        url('src/prodigy-sans/ProdigySans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
