@font-face {
    font-family: 'Roboto Slab';
    src: url('src/roboto-slab/RobotoSlab-Black.woff2') format('woff2'),
        url('src/roboto-slab/RobotoSlab-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('src/roboto-slab/RobotoSlab-Medium.woff2') format('woff2'),
        url('src/roboto-slab/RobotoSlab-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('src/roboto-slab/RobotoSlab-Regular.woff2') format('woff2'),
        url('src/roboto-slab/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('src/roboto-slab/RobotoSlab-Thin.woff2') format('woff2'),
        url('src/roboto-slab/RobotoSlab-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('src/roboto-slab/RobotoSlab-Bold.woff2') format('woff2'),
        url('src/roboto-slab/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('src/roboto-slab/RobotoSlab-ExtraBold.woff2') format('woff2'),
        url('src/roboto-slab/RobotoSlab-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('src/roboto-slab/RobotoSlab-SemiBold.woff2') format('woff2'),
        url('src/roboto-slab/RobotoSlab-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('src/roboto-slab/RobotoSlab-Light.woff2') format('woff2'),
        url('src/roboto-slab/RobotoSlab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('src/roboto-slab/RobotoSlab-ExtraLight.woff2') format('woff2'),
        url('src/roboto-slab/RobotoSlab-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

